{% macro map(lab,label) -%}
	{% if label %}
	<h4 class="label-{{ 'open' if labs[lab].state else 'closed' }}">{{ labs[lab].name }}</h4>
	{% else %}
		{% set insert_label=True %}
	{% endif %}
	{% set width,height = labs[lab].size %}
	<div class="lab lab-{{ width }}-{{ height }} lab-{{ 'open' if labs[lab].state else 'closed' }}" id="{{ labs[lab].name }}">
		{% if insert_label %}
		<div class="{{ labs[lab].name }}-label lab-label label-{{ 'open' if labs[lab].state else 'closed' }}">{{ labs[lab].name }}</div>
		{% endif %}
		{% if labs[lab].online %}
			{% for direction in labs[lab].doors %}
				{% for doors in direction %}
					{% for door in labs[lab].doors[doors] %}
						{% set xref,yref = door %}
						<div class="grid-{{ xref }}-{{ yref }} door-{{ direction }} lab-door"></div>
					{% endfor %}
				{% endfor %}
			{% endfor %}
					
			{% for user in labs[lab].users.keys() %}
				{% set xref, yref = labs[lab].computers[user] %}
				<div class="comp comp-{{ 'open' if labs[lab].state else 'closed' }} grid-{{ xref }}-{{ yref }} " id="{{ labs[lab].name }}{{user}}">

				{% if labs[lab].users[user].user_id %}
					{% set termstate = 'unavailable' %}
				{% elif labs[lab].state %}
					{% set termstate = 'available' %}
				{% else %}
					{% set termstate = 'closed' %}
				{% endif %}

					<div class="screenwrap screen-{{ labs[lab].directions[user] }}">
						<div class="cssscreen terminal-{{ termstate }}"></div>
					
						{% if labs[lab].users[user].user_id %}
						<div class="cssperson terminal-{{ 'unavailable' if labs[lab].users[user].user_id else 'available' }}"></div>
						{% endif %}
					</div>

				</div>

			{% endfor %}
		{% else %}
			<div class="offline">Offline</div>
		{% endif %}
	</div>

{%- endmacro %}







{% extends "layout.html" %}
{% block content %}

{% if debug %}
<div class="row">
	<div class="col-md-12">
		<div class="well">
			<h4>Debugging:</h4>
			{% for lab in labs %}
				<b>{{ labs[lab].name }}:</b><br />
				{% for user in labs[lab].users %}
					{% if labs[lab].users[user].user_id %}					
						{{ labs[lab].name }}{{ user }} {{labs[lab].users[user].user_id}}<br />
					{% endif %}
				{% endfor %}
			{% endfor %}
			Hits: {{ hits }}
		</div>
	</div>
</div>
{% endif %}


<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right" style="padding-bottom:10px">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Find a person..." id="searchText">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button" style="height:42px" id="searchButton">Search</button>
	      </span>
	    </div>
	    <div class="well" style="margin-top:10px;margin-bottom:0;display:none;text-size;overflow-y:auto" id="searchResults"></div>
 	</div>
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-left">
		<div id="content" class="tab-content">
      		<div class="tab-pane active" id="k17">

      			
  				<div>
  					<div class="pull-left">
  						{{ map('oud', True) }}
  					</div>
  					<div class="pull-left">
  						{{ map('banjo', True) }}
  					</div>
  				</div>
      			<div class="clearfix"></div>
      			

			</div>
		   <!--  <div class="tab-pane" id="me">
		    These labs will soon be moving, so ceebs to redo the positioning with the new method.
		    	<div>
		    		<div class="pull-left">
		    			
		    		</div>
		    		<div class="pull-left">
				    	
				    </div>
				</div>
		    	<div class="clearfix"></div>
		    	

		    </div> -->
		    <div class="tab-pane" id="ee">
		    <!-- Erhu and sahu are currently offline for some reason. -->
		    	<div>
  					<div class="pull-left">
  						{{ map('erhu', True) }}
  					</div>
  					<div class="pull-left">
  						{{ map('sanhu', True) }}
  					</div>
  				</div>
  				<div class="clearfix"></div>
            	
            		{{ map('guan', True) }}
            	
        
		    </div>
		    <div class="tab-pane" id="kb">
	  			{{ map('piano', True) }}
	  			{{ map('organ', True) }}
	  			{{ map('clavier', True) }}
	  		
			</div>
	  
      </div>
    </div>
	
</div>

{% endblock %}

{% block javascript %}
	<script type="text/javascript">
	{% for lab in labs %}

		
		{% for computer in labs[lab].users %}
			
			{% if labs[lab].users[computer].user_id %}
				content = "	ID: {{ labs[lab].users[computer].user_id }}<br /> \
							zID: {{ labs[lab].users[computer].zid }}<br /> \
							Since: {{ labs[lab].users[computer].since_string }}";
				title = "{{ labs[lab].users[computer].name }}";

				$('#{{lab}}{{ computer }}').popover({container:'.tab-content',
												placement: function(tip, element) {
												    var $element, above, actualHeight, actualWidth, below, boundBottom, boundLeft, boundRight, boundTop, elementAbove, elementBelow, elementLeft, elementRight, isWithinBounds, left, pos, right;
												    isWithinBounds = function(elementPosition) {
												     	return boundTop < elementPosition.top && boundLeft < elementPosition.left && boundRight > (elementPosition.left + actualWidth) && boundBottom > (elementPosition.top + actualHeight);
												    };
												    $element = $(element);
												    pos = $.extend({}, $element.offset(), {
												      	width: element.offsetWidth,
												      	height: element.offsetHeight
												    });
												    actualWidth = 283;
												    actualHeight = 117;
												    boundTop = $(document).scrollTop();
												    boundLeft = $(document).scrollLeft();
												    boundRight = boundLeft + $(window).width();
												    boundBottom = boundTop + $(window).height();
												    elementAbove = {
												      	top: pos.top - actualHeight,
												      	left: pos.left + pos.width / 2 - actualWidth / 2
												    };
												    elementBelow = {
												      	top: pos.top + pos.height,
												      	left: pos.left + pos.width / 2 - actualWidth / 2
												    };
												    elementLeft = {
												     	 top: pos.top + pos.height / 2 - actualHeight / 2,
												     	 left: pos.left - actualWidth
												    };
												    elementRight = {
												      	top: pos.top + pos.height / 2 - actualHeight / 2,
												      	left: pos.left + pos.width
												    };
												    above = isWithinBounds(elementAbove);
												    below = isWithinBounds(elementBelow);
												    left = isWithinBounds(elementLeft);
												    right = isWithinBounds(elementRight);
												    if (above) {
												      	return "top";
												    } else {
												      	if (below) {
												        	return "bottom";
												      	} else {
												        	if (left) {
												         	 	return "left";
												        	} else {
												          		if (right) {
												            		return "right";
												          		} else {
												            		return "right";
												          		}
												        	}
												     	}
												    }
												},
												content:content,
												title:title,
												html:true,
												trigger:'hover'});
			{% endif %}




		{% endfor %}
		
	{% endfor %}

	var json_data = '{{json}}';
	var labs = eval ("("+json_data.replace(/\&\#34\;/g, "'")+")");

	$( "#searchButton" ).click(function() {
		var searchText = $('#searchText').val()
		var foundText = "The user "+searchText+" could not be found";
		$( '#searchResults' ).html("");
	  	if (searchText!="") {
	  		$.each(labs, function(index, value) {
				$.each(value.users, function(index2, value2) {
					if ((searchText==value2.user_id)||(searchText==value2.user_name)||(searchText==value2.user_zid)||(value2.user_name.toLowerCase().indexOf(searchText.toLowerCase()) !== -1)) {
						
						foundText = "<small><b>"+value2.user_name+"</b>: "+value.name+""+index2+ "</small><br />";
						var pre = $( '#searchResults' ).html();
						$( '#searchResults' ).html( pre + foundText);
					} 
					$("#searchResults").css({'display':'inherit'});
					
				});
			}); 
	  	} else {
	  		$("#searchResults").css({'display':'none'});
	  	}
	});
	$(function() {
		$("#searchResults").css({'height':(($("#content").max-height()-50)+'px')});
	});
	$("#content").resize(function(e){
		$("#searchResults").css({'height':(($("#content").max-height()-50)+'px')});
	});

	$('#searchText').bind("enterKey",function(e){
   		$('#searchButton').click();
	});
	$('#searchText').keyup(function(e){
	    if(e.keyCode == 13)
	    {
	        $(this).trigger("enterKey");
	    }
	});
	

	</script>
{% endblock %}