<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>WebFriends</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Loading Bootstrap -->
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/webfriends.css') }}" rel="stylesheet">
        <!-- Loading Flat UI -->
        <link href="{{ url_for('static', filename='css/flat-ui.css') }}" rel="stylesheet">
        <!-- Loading Favicon -->
        <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/png" >

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
        <![endif]-->
  
    </head>
    <body>
        <div class="container clearfix">
            <nav class="navbar navbar-inverse" role="navigation" style="margin-top:10px;margin-bottom:10px">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#webfriends-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/webfriends-python/webfriends.py.cgi/">webFriends <span class="sup">beta</span></a>
                </div>
                <div class="collapse navbar-collapse" id="webfriends-nav">
                    <ul class="nav navbar-nav" id="labTabs">
                        <li class="active"><a href="#k17">K17</a></li>
                        <!-- <li><a href="#me">Mech Eng</a></li> -->
                        <li><a href="#ee">Elec Eng</a></li>
                        <li><a href="#kb">Keith Burrows</a></li>
                    </ul>
                </div>
            </nav>
            {% block content %}
            {% endblock %}

            <p class="text-center"><a href="#" class="visible-xs" data-toggle="modal" data-target="#feedbackForm">Suggestions</a></p>
            <div class="footer">
                <p class="text-center"><small>webFriends by <a href="mailto:jwis261@cse.unsw.edu.au">John Wiseheart</a> - Source Available on Request</small></p>
            </div>
        </div>

        <a href="#" class="hidden-xs" data-toggle="modal" data-target="#feedbackForm">
            <div id="suggestionbg"></div>
            <div id="suggestionbt">Suggestions</div>
        </a>

        <div class="modal fade" id="feedbackForm" tabindex="-1" role="dialog" aria-labelledby="feedbackFormLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="feedbackFormLabel">Feedback</h4>
              </div>
               <form role="form" method="get" action="{{ request.url_root }}feedback">
              <div class="modal-body">

                <div class="form-group">
                    <label for="feedbackSubject">Subject</label>
                    <input type="text" class="form-control" id="feedbackSubject" name="subject" placeholder="Enter subject">
                </div>
                <div class="form-group">
                    <label for="feedbackBody">Message</label>
                    <textarea class="form-control" id="feedbackBody" rows="4" name="body" placeholder="Enter message"></textarea>
                </div>
                    <div class="form-group">
                    <label for="feedbackEmail">Email address <small>(if you think further chat might be necessary)</small></label>
                    <input type="email" class="form-control" id="feedbackEmail" name="email" placeholder="Enter email">
                  </div>
         
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit Feedback</button>
              </div>
               </form>
            </div>
          </div>
        </div>



        <!-- Load JS here for greater good =============================-->
        <script src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui-1.10.3.custom.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.ui.touch-punch.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-switch.js') }}"></script>
        <script src="{{ url_for('static', filename='js/flatui-checkbox.js') }}"></script>
        <script src="{{ url_for('static', filename='js/flatui-radio.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.tagsinput.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.placeholder.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.ba-resize.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/webfriends.js') }}"></script>
    </body>
</html>